body {
  background-color: #f0f8ff;
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input {
  width: 60%;
  padding: 15px;
  font-size: 18px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.keyContainer {
  display: grid;
  grid-template-rows: repeat(14);
  grid-gap: 1px;
  margin: 0 auto;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.keyContainer div {
  margin-bottom: 3px;
}

button {
  padding: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color: #445760;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

button:active {
  background-color: #555;
}

.key:nth-child(2) button:last-child {
  width: 120px;
}

.key:nth-child(3) button:first-child {
  width: 95px;
}
.key:nth-child(3) button:last-child {
  width: 95px;
}
.key:nth-child(4) button:first-child {
  width: 130px;
}
.key:nth-child(4) button:first-child:hover {
  background-color: blue;
}
.key:nth-child(5) button:last-child {
  width: 95px;
}
.key:nth-child(6) button:nth-child(3) {
  width: 500px;
}
